@import url(./_hidden/button__show-news_hidden.css);
.button__show-news{
    background: white;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.button__show-news:hover{
    color: black;
    background-color: rgb(211, 235, 240, .2);
    border: rgb(162, 223, 231);
}
