.chart__title{
    width: 85%;
    margin: 80px auto 50px;
    
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
}

@media (max-width: 800px) {
    .chart__title {
        margin: 40px auto 20px;
    }
}

@media (max-width: 500px) {
    .chart__title {
        margin: 25px auto 10px;
    }
}