@import url(./__menu-item/header__menu-item.css);

.header__menu{
    display: flex;
    justify-content: space-between;

    padding-right: 104px;   
}

@media (max-width: 768px) {
    .header__menu {
        padding-right: 40px;
    }
}

@media (max-width: 370px) {
    .header__menu {
        padding-right: 10px;
    }
}