@import url(./__image/card__image.css);
@import url(./__description/card__description.css);

.card{
    max-width: 95%;
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
}

.card:hover{
    box-shadow: 5px 10px 20px rgba(129, 178, 216, 0.8);
}
