.chart__pipe{
    margin-left: 38px;
    height: 24px;
    
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    padding: 5px;

}

@media (max-width: 600px) {
    .chart__pipe {
        margin-left: 15px;
    }
}