.chart__pipe{
    margin-left: 45px;
    height: 24px;
    width: 0;
    color: white;
    background-color: #2F71E5;
}

@media (max-width: 600px) {
    .chart__pipe {
        margin-left: 15px;
    }
}