@import url(./_about/page__title_about.css);
@import url(./_stat/page__title_stat.css);
.page__title {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
}

@media (max-width: 800px) {
    .page__title {
        font-size: 30px;
        line-height: 34px;
    }
}
