@import url(./_none/chart__scale_none.css);
.chart__scale{
    width: 100%;
    padding-left: 90px;
    border-top: 3px solid #B6BCBF;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    list-style: none;
}

@media (max-width: 650px) {
    .chart__scale {
        display: none;
    }
}