@import url(./_subtitle/page__title_stat_subtitle.css);
@import url(./_bold/page__title_stat_bold.css);
.page__title_stat{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}

@media (max-width: 500px) {
    .page__title_stat:first-child {
        display: none;
    }
}
