
.card__data {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    
    display: flex;
    align-items: center;
    margin: 0;
}

@media (max-width: 400px) {
    .card__data {
        margin-top: 5px;
    }
}
